a{
  text-decoration: none;
}

li a{
  color: #000;
}
body {
    margin: 0;
    padding: 0;

  }
  #header{
    border-bottom:solid 1.5px #000;
    height: 60px;
    padding-top: 20px;
  }
  ul {
    list-style: none;
  }
  li { 
    margin-bottom: 10px;
    }
    h5 {
      float: left;
      padding: 5px 0;
      margin: 0%;
    }
    h5 a {
      display: block;
      width: 64px;
      height: 65px;
      font-size: 0;
      background: url(../css/images/starsystem.png) left top/64px auto no-repeat;
    }
  
