
#custId{
    float: left;
    margin-right: 25px;
}
#lbl_custId{
    font-size: small;
    padding-left: 5px;
}
#custNm{
    float: left;
    margin-right: 25px;
}
#lbl_custNm{
    font-size: small;
    padding-left: 5px;
}
#lbl_keepNo{
    font-size: small;
}
#lbl_buyDate{
    margin-top: 10px;
    font-size: small;
    padding-left: 5px;
}
#txt_custId{
    height: 20px;
    width: 200px;
}
#txt_custNm{
    height: 20px;
    width: 200px;
}
#txt_keepNo{
    height: 20px;
    width: 100px;
}
#txt_buyDateFrom{
    height: 20px;
    width: 200px;
}
#txt_buyDateTo{
    height: 20px;
    width: 200px;
    margin-right: 20px;
}
#btn_search{
    width: 110px;
    height: 30px;
    background-color:#0059F2;
    color: #ffffff;
    border-radius:5px;
    margin-bottom: 20px;
}
th{
    border-color: #0059F2;
    background-color: #0059F2;
    color: #ffffff;
   padding-bottom: 15px;
}
td a{
    margin-left: auto;
    margin-right: auto;
}

#one{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#two{
    background-color: #DAE3F2;
    border-color: #00000000;
}
#three{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#four{
    background-color: #DAE3F2;
    border-color: #00000000;
}
#five{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#six{
    background-color: #DAE3F2;
    border-color: #00000000;
}
#seven{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#tlbl_keepNo{
    width: 100px;
    text-align: left;
}
#tlbl_buyDate{
    width: 150px;
    text-align: left;
}
#tlbl_custId{
    width: 100px;
    text-align: left;
}
#tlbl_custNm{
    width: 150px;
    text-align: left;
}
table{
    border-color: #ffffff
}