
#lbl_keepNo{
    padding-left: 45%;
}
#lbl_reslt{
    padding-left: 45%;
}
table{
    border: #ffffff;
}
th{
    border-color: #0059F2;
    background-color: #0059F2;
    color: #ffffff;
    padding-bottom: 10px;
}
td{
    padding-bottom: 10px;
}
input#btn_search{
    color: #ffffff;
    background-color: #0059f2;
    width: 50px;
}
#lbl_custNm{
   display:inline-block;
}
select{
    width: 60px;
    margin-left:10px;
}
#tlbl_goodsNm{
    width: 200px;
    text-align: left;
    padding-left: 5px;
}
#tlbl_price{
    width: 70px;
    text-align: left;
    padding-left: 5px;
}
#tlbl_count{
    width: 90px;
    text-align: left;
    padding-left: 5px;
}
#one{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#two{
    background-color: #DAE3F2;
    border-color: #00000000;
}
#three{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#four{
    background-color: #DAE3F2;
    border-color: #00000000;
}
#five{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#six{
    background-color: #DAE3F2;
    border-color: #00000000;
}
#seven{
    background-color: #AAC4F2;
    border-color: #00000000;
}
#button{
    border-bottom: solid 1.5px #000;
    padding-top: 20px
}

#btn_reset{
    margin-top: 20px;
    margin-right: 100px;
    width: 110px;
    background-color: #0059F2;
    color: #ffffff;
    height: 40px;
    border-radius:10px;
}

#btn_confirm{
    width: 110px;
    background-color: #0059F2;
    color: #ffffff;
    height: 40px;
    border-radius:10px;
}
#btn_success{
    margin-top: 20px;
    margin-left: 50%;
    width: 110px;
    background-color: #0059F2;
    color: #ffffff;
    height: 40px;
    border-radius:10px;
}
