<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="../static/css/common.css">
    </head>
    <body>
        <h5 id = "lbl_logo"><a href="/">スタークリーニング</a></h5>
        <header id="header">スター<br>クリーニング
        </header>
        <div style="background-color:#000; width:1px; height:100%; position:absolute; top:0px; left:170px;"></div>
        <div id = "lbl_dispTitle" style="position: absolute; top:20px; left: 190px; font-size: 25px;">商品履歴&nbsp;&nbsp;&nbsp;詳細画面</div>
        <div id = "lbl_userName" style = "position: absolute; top:10px; right: 50px; font-size:25px; color:#000;"> ログイン者名</div>
        <div id = "lbl_logout" style = "position: absolute; top:50px; right: 50px; font-size:px; color:#000;"><a href="#">ログアウト</a></div>
  <h4 style="font-weight: lighter">メニュー</h4>
  <ul id = lbl_menu>
    <li id = "lbl_inputMenu"><a href = "#">商品入力</a></li>
    <li id = "lbl_histMenu"><a href = "#">商品履歴</a></li>
    <li id = "lbl_infoMenu"><a href = "#">お知らせ</a></li>
  </ul>
  <h4 style="font-weight: lighter">メンテナンス</h4>
  <ul id = lbl_mainteMenu>
    <li id = "lbl_goodsManageMenu"><a href = "#">商品管理</a></li>
    <li id = "lbl_infoManageMenu"><a href = "#">お知らせ管理</a></li>
    <li id = "lbl_empManageMenu"><a href = "#">社員管理</a></li>
    <li id = "lbl_custManageMenu"><a href = "#">顧客管理</a></li>
    <li id = "lbl_setManageMenu"><a href = "#">設定管理</a></li>
  </ul>
</body>
</html>