<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="../static/css/customer.css">
    </head>
    <body>
        <h3 id = "title">&nbsp;顧客選択 ダイアログ</h3>
        <div id = lbl_custNm>顧客名</div>
        <input type = "text" id = "txt_custNm" >

        <div id = "lbl_tellNo">連絡先</div>
        <input type= "text" id = "txt_tellNo">

        <input type="button" id = "btn_search" value = "検索">

        <table border="1">
            <tr>
                <th>&nbsp;</th>
                <th id = "tlbl_custId">顧客ID</th>
                <th id = "tlbl_custNm">顧客名</th>
            </tr>
            <tr id = "one">
                <td id = "trdb_select_{1}"><input type ="radio" id = "check"></td>
                <td id = "tlbl_custId_{1}"></th>
                <td id = "tlbl_custNm_{1}"></th>
            </tr>
            <tr id = "two">
                <td id = "trdb_select_{2}"><input type ="radio"></td>
                <td id = "tlbl_custId_{2}"></th>
                <td id = "tlbl_custNm_{2}"></th>
            </tr>
            <tr id = "three">
                <td id = "trdb_select_{3}"><input type ="radio"></td>
                <td id = "tlbl_custId_{3}"></th>
                <td id = "tlbl_custNm_{3}"></th>
            </tr>
            <tr id = "four">
                <td id = "trdb_select_{4}"><input type ="radio"></td>
                <td id = "tlbl_custId_{4}"></th>
                <td id = "tlbl_custNm_{4}"></th>
            </tr>
            <tr id = "five">
                <td id = "trdb_select_{5}"><input type ="radio"></td>
                <td id = "tlbl_custId_{5}"></th>
                <td id = "tlbl_custNm_{5}"></th>
            </tr>
            <tr id = "six">
                <td id = "trdb_select_{6}"><input type ="radio"></td>
                <td id = "tlbl_custId_{6}"></th>
                <td id = "tlbl_custNm_{6}"></th>
            </tr>
            <tr id = "seven">
                <td id = "trdb_select_{7}"><input type ="radio"></td>
                <td id = "tlbl_custId_{7}"></th>
                <td id = "tlbl_custNm_{7}"></th>
            </tr>
            <tr id = "eight">
                <td id = "trdb_select_{8}"><input type ="radio"></td>
                <td id = "tlbl_custId_{8}"></th>
                <td id = "tlbl_custNm_{8}"></th>
            </tr>

        </table>
            <input type="button" id ="btn_close" value="閉じる">

            <input type ="button" id = "btn_set" value = "確定">
    </body>
</html>