<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
	<div class="content">
	<article>
  	<h1 class = "lbl_title" >クリーニングシステム</h1>
	<div class="form">
		<form action="#">
		<div class="lbl_userId">ユーザID</div>
		<div class="txt_userId">
		<input type="text" name="#"  class="txt_userId maxlength="/>
	</div>
	<div class="lbl_userpw">パスワード</div>
	<div class="txt_userpw">
		<input type="password" class = txt_userpw name="#" />
	</div>
	<div class ="lbl_errormsg">a</div>
		<input type="submit" class = btn_login value="ログイン" />
	</form>
	</div>
	</article>
	</div>
</body>
</html>