<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
	<div id="content">
	<article>
  	<h1 id = "lbl_title" >クリーニングシステム</h1>
	<div id="form">
		<form action="#">
		<div id="lbl_userId">ユーザID</div>
		<div id="txt_userId">
		<input type="text" name="#"  id="txt_userId maxlength="/>
	</div>
	<div id="lbl_userpw">パスワード</div>
	<div id="txt_userpw">
		<input type="password" id = txt_userpw name="#" />
	</div>
	<div id ="lbl_errormsg">a</div>
		<input type="submit" id = btn_login value="ログイン" />
	</form>
	</div>
	</article>
	</div>
</body>
</html>