<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <link rel="stylesheet" th:href="@{/css/list.css}">
        <link rel="stylesheet" th:href="@{/css/product.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/article.css}">
	</head>
	<body>
		<!-- サイドバーとヘッダーの挿入 -->
		<div th:replace="~{common :: header}"></div>
    	<div th:replace="~{common :: sidebar}"></div>
    	<!-- ここからメイン画面 -->
    	<div id = "lbl_dispTitle">お知らせ&nbsp;&nbsp;&nbsp;一覧画面</div>
    	<div id="article">
	        <table border="1">
	            <tr>
	                <th id = "tlbl_infoId">お知らせID</th>
	                <th id = "tlbl_subject">件名</th>
	                <th id = "tlbl_kaisaiPeriod">掲載期間</th>
	            </tr>
	            <tr id = "one" th:each="news : ${newses}">
	                <td><a th:href ="@{/showNewsDetail/} + ${news.infoId}" th:text="${news.infoId}"></a></td>
	                <td id = "tlbl_subject_{1}" th:text="${news.subject}"></td>
	                <td id = "tlbl_kaisaiPeriod_{1}" th:text="${#dates.format(news.keisaiFrom, 'yyyy/MM/dd')} + '-' + ${#dates.format(news.keisaiTo, 'yyyy/MM/dd')}"></td>
	            </tr>
	        </table>
        </div>
    </body>