<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--<link rel="stylesheet" th:href="@{/css/list.css}">-->
        <link rel="stylesheet" href="../static/css/list.css">
	</head>
	<body>
        <table border="1"cellspacing="0" cellpadding="0">
            <tr>
                <th id = "tlbl_infoId">お知らせ</th>
                <th id = "tlbl_subject">件名</th>
                <th id = "tlbl_kaisaiPeriod">掲載期間</th>
            </tr>
            <tr>
                <td><a href ="news_list_detail.html#lnk_detail_{1}">1</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <a href ="news_list_detail.html#lnk_detail_{2}">2</a>
                </td>
                <td>
                    
                </td>
            </tr>


        </table>
    </body>