<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:src="@{/js/index.js}" type="text/javascript"></script>
        <link rel="stylesheet" th:href="@{/css/product.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/article.css}">
    </head>
    <body>
    	<!-- サイドバーとヘッダーの挿入 -->
    	<div th:replace="~{common :: header}"></div>
    	<div th:replace="~{common :: sidebar}"></div>
    	<!-- ここからメイン画面 -->
    	<div id = "lbl_dispTitle">商品入力画面</div>
    	<div id = "article">
	        <div id = "lbl_custId">顧客ID</div>
	        <input type = "text" id = "txt_custId" name = "#"> 
	        <input type = "button" id ="btn_search" value="検索" onclick="disp()">
	
	        <div id = "lbl_custNm">&nbsp;様</div>
	        <table border="1">
	            <tr>
	                <th id = "tlbl_goodsNm">商品名</th>
	                <th id = "tlbl_price">単価</th>
	                <th id = "tlbl_count">数量</th>
	            </tr>
	            <tr th:each="goods,st : ${goodses}">
	            	<th:block th:if="${st.even}">
		                <td id = "tlbl_goodsNm_{1}" th:text="${goods.goodsName}" th:class="even"></td>
		                <td id = "tlbl_price_{1}" th:text="${goods.price}" th:class="even"></td>
		                <td th:class="even">
		                	<select size=1>
			                    <option value="zero">0</option>
			                    <option value="one">1</option>
			                    <option value="two">2</option>
			                    <option value="three">3</option>
			                    <option value="four">4</option>
			                    <option value="five">5</option>
			                    <option value="six">6</option>
			                    <option value="seven">7</option>
			                    <option value="eight">8</option>
			                    <option value="nine">9</option>
			                    <option value="ten">10</option>
			                    <option value="eleven">11</option>
			                    <option value="twelve">12</option>
			                    <option value="Thirteen">13</option>
			                    <option value="fourteen">14</option>
			                    <option value="fifteen">15</option>
			                    <option value="sixteen">16</option>
			                    <option value="seventeen">17</option>
			                    <option value="eightteen">18</option>
			                    <option value="nineteen">19</option>
			                    <option value="twenty">20</option>
		                	</select>
		                </td>
		            </th:block>
	                <th:block th:if="${st.odd}">
		                <td id = "tlbl_goodsNm_{1}" th:text="${goods.goodsName}" th:class="odd"></td>
		                <td id = "tlbl_price_{1}" th:text="${goods.price}" th:class="odd"></td>
		                <td th:class="odd" th:if="${st.odd}">
		                	<select size=1>
			                    <option value="zero">0</option>
			                    <option value="one">1</option>
			                    <option value="two">2</option>
			                    <option value="three">3</option>
			                    <option value="four">4</option>
			                    <option value="five">5</option>
			                    <option value="six">6</option>
			                    <option value="seven">7</option>
			                    <option value="eight">8</option>
			                    <option value="nine">9</option>
			                    <option value="ten">10</option>
			                    <option value="eleven">11</option>
			                    <option value="twelve">12</option>
			                    <option value="Thirteen">13</option>
			                    <option value="fourteen">14</option>
			                    <option value="fifteen">15</option>
			                    <option value="sixteen">16</option>
			                    <option value="seventeen">17</option>
			                    <option value="eightteen">18</option>
			                    <option value="nineteen">19</option>
			                    <option value="twenty">20</option>
		                	</select>
		                </td>
	                </th:block>
	            </tr>
	            
	        </table>
	        <div id = button></div>
	        <input type ="reset" value="リセット" id ="btn_reset"> 
	        <input type="button" value="確認画面" id="btn_confirm" onclick="location.href='#'">
        </div>
    </body>
</html>