<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/product_hist.css">
        <!--<link rel="stylesheet" th:href="@{css/product_hist.css}">-->
    </head>
    <body>
        <div id = "custId">
        <div id ="lbl_custId">顧客ID</div>
        <input type = "text" id = "txt_custId" />
        </div>
        <div id ="custNm">
        <div id = "lbl_custNm">顧客名</div>
        <input type ="text" id = "txt_custNm"/>
        </div>
        <div id ="keepNo">
        <div id = "lbl_keepNo">預り番号</div>
        <input type = "text" id ="txt_keepNo" />
        </div>
        <div id = "lbl_buyDate">購入日</div>
        <input type = "text" name="#" id="txt_buyDateFrom" />
        <span>~</span>
        <input type = "text" name="#" id="txt_buyDateTo" />
        <input type = "button" id = "btn_search" value = "検索">

        <table border="1">
            <tr>
                <th id ="tlbl_keepNo">預り番号</th>
                <th id ="tlbl_buyDate">購入日</th>
                <th id ="tlbl_custId">顧客ID</th>
                <th id ="tlbl_custNm">顧客名</th>
                <th id ="tlbl_total_Cnt">合計数</th>
            </tr>
            <tr id ="one">
                <td><a href = "lnk_keepNo_{1}">1</a></td>
                <td id ="tlbl_buyDate_{1}">2021/01/02</td>
                <td id ="tlbl_custId_{1}">1</td>
                <td id ="tlbl_cust_{1}">星 太郎</td>
                <td id ="tlbl_total_Cnt_{1}"></td>
            </tr>
            <tr id ="two">
                <td><a href = "lnk_keepNo_{2}">2</a></td>
                <td id ="tlbl_buyDate_{2}"></td>
                <td id ="tlbl_custId_{2}">2</td>
                <td id ="tlbl_cust_{2}"></td>
                <td id ="tlbl_total_Cnt_{2}"></td>
            </tr>
            <tr id ="three">
                <td><a href = "lnk_keepNo_{3}">3</a></td>
                <td id ="tlbl_buyDate_{3}"></td>
                <td id ="tlbl_custId_{3}">3</td>
                <td id ="tlbl_cust_{3}"></td>
                <td id ="tlbl_total_Cnt_{3}"></td>
            </tr>
            <tr id ="four">
                <td><a href = "lnk_keepNo_{4}">4</a></td>
                <td id ="tlbl_buyDate_{4}"></td>
                <td id ="tlbl_custId_{4}">4</td>
                <td id ="tlbl_cust_{4}"></td>
                <td id ="tlbl_total_Cnt_{4}"></td>
            </tr>
            <tr id ="five">
                <td><a href = "lnk_keepNo_{5}">5</a></td>
                <td id ="tlbl_buyDate_{5}"></td>
                <td id ="tlbl_custId_{5}">5</td>
                <td id ="tlbl_cust_{5}"></td>
                <td id ="tlbl_total_Cnt_{5}"></td>
            </tr>
            <tr id ="six">
                <td><a href = "lnk_keepNo_{6}">6</a></td>
                <td id ="tlbl_buyDate_{6}"></td>
                <td id ="tlbl_custId_{6}">6</td>
                <td id ="tlbl_cust_{6}"></td>
                <td id ="tlbl_total_Cnt_{6}"></td>
            </tr>
            <tr id ="seven">
                <td><a href = "lnk_keepNo_{7}">7</a></td>
                <td id ="tlbl_buyDate_{7}"></td>
                <td id ="tlbl_custId_{7}">7</td>
                <td id ="tlbl_cust_{7}"></td>
                <td id ="tlbl_total_Cnt_{7}"></td>
            </tr>

        </table>
        
    </body>
</html>