<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/product_con.css}">
    </head>
    <body>
        <div id = "lbl_custNm">様</div>

        <table border="1" id ="table1">
            <tr>
                <th id = "tlbl_goodsNm">商品名</th>
                <th id = "tlbl_price">単価</th>
                <th id = "tlbl_count">数量</th>
                <th id = "tlbl_shoukei">小計</th>
            </tr>
            <tr id ="one">
                <td id = "tlbl_goodsNm_{1}">&nbsp;</td>
                <td id = "tlbl_price_{1}">&nbsp;</td>
                <td id = "tlbl_count_{1}">&nbsp;</td>
                <td id = "tlbl_shoukei_{1}">&nbsp;</td>
            </tr>
            <tr id ="two">
                <td id = "tlbl_goodsNm_{2}">&nbsp;</td>
                <td id = "tlbl_price_{2}">&nbsp;</td>
                <td id = "tlbl_count_{2}">&nbsp;</td>
                <td id = "tlbl_shoukei_{2}">&nbsp;</td>
            </tr>
            <tr id ="three">
                <td id = "tlbl_goodsNm_{3}">&nbsp;</td>
                <td id = "tlbl_price_{3}">&nbsp;</td>
                <td id = "tlbl_count_{3}">&nbsp;</td>
                <td id = "tlbl_shoukei_{3}">&nbsp;</td>
            </tr>
            <tr id ="four">
                <td id = "tlbl_goodsNm_{4}">&nbsp;</td>
                <td id = "tlbl_price_{4}">&nbsp;</td>
                <td id = "tlbl_count_{4}">&nbsp;</td>
                <td id = "tlbl_shoukei_{4}">&nbsp;</td>
            </tr>
            <tr id = "five">
                <td id = "tlbl_goodsNm_{5}">&nbsp;</td>
                <td id = "tlbl_price_{5}">&nbsp;</td>
                <td id = "tlbl_count_{5}">&nbsp;</td>
                <td id = "tlbl_shoukei_{5}">&nbsp;</td>
            </tr>
            <tr id = "six">
                <td id = "tlbl_goodsNm_{6}">&nbsp;</td>
                <td id = "tlbl_price_{6}">&nbsp;</td>
                <td id = "tlbl_count_{6}">&nbsp;</td>
                <td id = "tlbl_shoukei_{6}">&nbsp;</td>
            </tr>
            <tr id ="seven">
                <td id = "tlbl_goodsNm_{7}">&nbsp;</td>
                <td id = "tlbl_price_{7}">&nbsp;</td>
                <td id = "tlbl_count_{7}">&nbsp;</td>
                <td id = "tlbl_shoukei_{7}">&nbsp;</td>
            </tr>
        </table>

        <table border="1" id ="table2">
            <tr>
                <th id ="tlbl_shoukeigoukei">小計合計</th>
                <th id ="tlbl_saleDiscount">セール割引</th>
                <th id ="tlbl_tax">消費税</th>
                <th id ="tlbl_goukei">合計</th>
            </tr>
            <tr id = "ones">
                <td id ="tlbl_shoukeigoukei_{1}">&nbsp;</td>
                <td id ="tlbl_saleDiscount_{1}">&nbsp;</td>
                <td id ="tlbl_tax_{1}">&nbsp;</td>
                <td id ="tlbl_goukei_{1}">&nbsp;</td>
            </tr>
        </table>
        <div id ="button"></div>
        <input type ="button" id ="btn_back" value="戻る">
        <input type ="button" id ="btn_regist" value ="確定">
    </body>
</html>