<!DOCTYPE html>
<html>
    <head>
        <script src="../static/css/js/index.js"></script>
        <link rel="stylesheet" href="../static/css/product.css">
    </head>
    <body>
        <div id = "lbl_custId">顧客ID</div>
        <input type = "text" id = "txt_custId" name = "#"> 
        <input type = "button" id ="btn_search" value="検索" onclick="disp()">

        <div id = "lbl_custNm">&nbsp;様</div>
        <table border="1">
            <tr>
                <th id = "tlbl_goodsNm">商品名</th>
                <th id = "tlbl_price">単価</th>
                <th id = "tlbl_count">数量</th>
            </tr>
            <tr id = "one">
                <td id = "tlbl_goodsNm_{1}"></td>
                <td id = "tlbl_price_{1}"></td>
                <td id = "tcmb_count_{1}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>
            <tr id = "two">
                <td id = "tlbl_goodsNm_{2}"></td>
                <td id = "tlbl_price_{2}"></td>
                <td id = "tcmb_count_{2}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>
            <tr id = "three">
                <td id = "tlbl_goodsNm_{3}"></td>
                <td id = "tlbl_price_{3}"></td>
                <td id = "tcmb_count_{3}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>

            <tr id = "four">
                <td id = "tlbl_goodsNm_{4}"></td>
                <td id = "tlbl_price_{4}"></td>
                <td id = "tcmb_count_{4}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>

            <tr id = "five">
                <td id = "tlbl_goodsNm_{5}"></td>
                <td id = "tlbl_price_{5}">&nbsp;</td>
                <td id = "tcmb_count_{5}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>

            <tr id = "six">
                <td id = "tlbl_goodsNm_{6}"></td>
                <td id = "tlbl_price_{6}">&nbsp;</td>
                <td id = "tcmb_count_{6}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>

            <tr id = "seven">
                <td id = "tlbl_goodsNm_{7}"></td>
                <td id = "tlbl_price_{7}">&nbsp;</td>
                <td id = "tcmb_count_{7}"><select size=1>
                    <option value="zero">0</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5</option>
                    <option value="six">6</option>
                    <option value="seven">7</option>
                    <option value="eight">8</option>
                    <option value="nine">9</option>
                    <option value="ten">10</option>
                    <option value="eleven">11</option>
                    <option value="twelve">12</option>
                    <option value="Thirteen">13</option>
                    <option value="fourteen">14</option>
                    <option value="fifteen">15</option>
                    <option value="sixteen">16</option>
                    <option value="seventeen">17</option>
                    <option value="eightteen">18</option>
                    <option value="nineteen">19</option>
                    <option value="twenty">20</option>
                </select></td>
            </tr>
        </table>
        <div id = button></div>
        <input type ="reset" value="リセット" id ="btn_reset"> 
        <input type="button" value="確認画面" id="btn_confirm" onclick="location.href='#'">
    </body>
</html>